@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-portlet" id="m_portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-calendar-2"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Booking Calendar
                </h3>
            </div>
        </div>

    </div>
    <div class="m-portlet__body">
        <div id="m_calendar"></div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
}