@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-portlet" id="m_portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-calendar-2"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Booking Calendar
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            @Html.ActionLink("Add Enquiry", "Add Enquiry", new { controller = "Enquiry" }, new { @class = "btn btn-primary" })
        </div>

    </div>
    <div class="m-portlet__body">
        <div id="m_calendar"></div>
    </div>
</div>

<div class="modal fade" id="modalinquirydollowup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="followupcontent">

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
