
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        @Html.ActionLink("Add", "Add", new { controller = "Expense" }, new { @class = "btn btn-primary" })
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-portlet__body">
                    <!--begin: Datatable -->
                    <table class="table table-striped- table-tracker table-hover" id="tblExpense"></table>
                    <!--end: Datatable -->
                </div>
                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>
    </div>


</div>

<script>
    var Table;
    $(document).ready(function () {

        Table = $('#tblExpense').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/Expense/GetExpenseDetail",
            //"iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            "responsive": true,
            "language": {
                "infoFiltered": ""
            },
            //"bSort": true,
            //"aaSorting": [[1, 'asc'], [2, 'asc'], [3, 'asc']],
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 4 },
            ],

            "fnServerData": function (sSource, data, fnCallback) {
                data.push({ name: "Status", value: false });

                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });
            },

            "aoColumns": [
                {
                    "sTitle": "Action", "className": "action", "orderable": false, render: function (data, type, row, meta) {
                        var srt
                        srt = "<a href='/Expense/AddEdit/" + row.ExpenseID + "' class='m-portlet__nav-link btn btn-sm m-btn btn-primary m-btn--hover-accent m-btn--icon' title='Edit Employee Detail'><i class='fa fa-pen'></i></a>"
                        return srt;
                    }
                },
                {
                    "sTitle": "Description", "className": "", render: function (data, type, row, meta) {
                        var name = "<strong style='text-transform: capitalize;'>" + row.Description + "</strong>";
                        return name
                    },
                },
                {
                    "sTitle": "Employyee Name", "className": "", render: function (data, type, row, meta) {
                        var name = "<strong style='text-transform: capitalize;'>" + row.EmpName + "</strong>";
                        return name
                    }
                },
                {
                    "sTitle": "Amount", "className": "", render: function (data, type, row, meta) {
                        return row.Amount
                    }
                },
                {
                    "sTitle": "Bank Name", "className": "", render: function (data, type, row, meta) {
                        return row.BankName
                    }
                },
                {
                    "sTitle": "Created Date", "className": "", render: function (data, type, row, meta) {
                        return row.cdate
                    }
                },
                {
                    "sTitle": "Created By", "className": "", render: function (data, type, row, meta) {
                        return row.CreatedBy
                    }
                },
                {
                    "sTitle": "Modified By", "className": "", render: function (data, type, row, meta) {
                        return row.Modifiedby
                    }
                }
                
            ],
            "initComplete": function () {

            }

        });

    });
</script>


